* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
}

main {
  background-color: #fff;
  width: 500px;
  padding: 20px;
  margin-inline: auto;
  border-radius: 5px;
}

main h1 {
  text-align: center;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-inline: 10px;
}

.person > div:first-child {
  width: 100px;
  height: 100px;
}

.person > div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.person > div:nth-child(2) {
  width: 60%;
  margin-left: 5px;
}

.person button {
  padding: 5px 10px;
}

.person button:active {
  transform: scale(0.8);
}

button {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  main {
    width: 90%;
  }
  .person {
    padding-inline: 5px;
  }
  .person > div:first-child {
    width: 50px;
    height: 50px;
  }
  .person button {
    padding: 2px 5px;
  }
}
